<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app">
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content" >
<!--          Сюда необходимо вывести текст активного шага по его индексу-->
              {{steps[activeIndex].text}}
        </div>
        <ul class="steps-list" >
          <li class="steps-item"
              v-for="(item, index) in steps"
              :key="index" :class="getClass(index)">
              <span
                  @click="setActive(index)">{{index+1}}
          </span> {{ item.title }}</li>
        </ul>
        <div>
            <div v-if="isNew">
                <button class="btn" @click="prev"
                        :disabled="activeIndex ? false : true">Назад</button>
                <button
                        class="btn primary"
                        @click="nextOfFinish()"
                >
                    <span v-if="activeIndex<steps.length-1">Вперед</span>
                    <span v-else @click="isNew=false">Завершить</span>
                </button>
            </div>
            <div v-else>
                <button class="btn" @click="reset">Начать заново</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>

  <script src="vue.js"></script>
  </body>
</html>
